In [1]:
import json

In [2]:
f=open('1021.metadados','rb')

In [3]:
meta1021=json.load(f)

In [5]:
meta1021.keys()

dict_keys(['id', 'nome', 'pesquisa', 'assunto', 'periodicidade', 'nivelTerritorial', 'variaveis', 'classificacoes'])

In [8]:
meta1021['nome']

'Produtores na direção dos trabalhos dos estabelecimentos agropecuários por sexo do dirigente, grupos de anos de direção, condição do produtor em relação às terras, classe de idade do produtor, nível de instrução do produtor e grupos de área total'

In [11]:
meta1021['periodicidade']

{'fim': 2006, 'frequencia': 'anual', 'inicio': 2006}

In [12]:
meta1021['variaveis']

[{'id': 2319,
  'nome': 'Produtores na direção dos trabalhos nos estabelecimentos agropecuários',
  'sumarizacao': ['nivelTerritorial'],
  'unidade': 'Pessoas'},
 {'id': 1002319,
  'nome': 'Produtores na direção dos trabalhos nos estabelecimentos agropecuários - percentual do total geral',
  'sumarizacao': [],
  'unidade': '%'}]

In [13]:
meta1021['nivelTerritorial']

{'Administrativo': ['N1', 'N2', 'N8', 'N9', 'N6', 'N3'],
 'Especial': ['N132', 'N133', 'N129'],
 'IBGE': []}

In [14]:
meta1021['classificacoes']

[{'categorias': [{'id': 0, 'nome': 'Total', 'unidade': None},
   {'id': 112643, 'nome': 'Homens', 'unidade': None},
   {'id': 112644, 'nome': 'Mulheres', 'unidade': None}],
  'id': 12566,
  'nome': 'Sexo da pessoa que dirige o estabelecimento (produtor ou administrador)',
  'sumarizacao': {'excecao': [], 'status': True}},
 {'categorias': [{'id': 0, 'nome': 'Total', 'unidade': None},
   {'id': 118221, 'nome': 'Menos de 1 ano', 'unidade': None},
   {'id': 118222, 'nome': 'De 1 a menos de 5 anos', 'unidade': None},
   {'id': 118223, 'nome': 'De 5 a menos de 10 anos', 'unidade': None},
   {'id': 118224, 'nome': 'De 10 anos e mais', 'unidade': None}],
  'id': 12775,
  'nome': 'Grupos de anos de direção dos trabalhos nos estabelecimentos agropecuários',
  'sumarizacao': {'excecao': [], 'status': True}},
 {'categorias': [{'id': 0, 'nome': 'Total', 'unidade': None},
   {'id': 4780, 'nome': 'Proprietário', 'unidade': None},
   {'id': 111517,
    'nome': 'Assentado sem titulação definitiva',
    'unidade': None},
   {'id': 4781, 'nome': 'Arrendatário', 'unidade': None},
   {'id': 4782, 'nome': 'Parceiro', 'unidade': None},
   {'id': 4783, 'nome': 'Ocupante', 'unidade': None},
   {'id': 111518, 'nome': 'Produtor sem área', 'unidade': None}],
  'id': 218,
  'nome': 'Condição do produtor em relação às terras',
  'sumarizacao': {'excecao': [], 'status': True}},
 {'categorias': [{'id': 0, 'nome': 'Total', 'unidade': None},
   {'id': 118190, 'nome': 'Menor de 25 anos', 'unidade': None},
   {'id': 118191, 'nome': 'De 25 a menos de 35 anos', 'unidade': None},
   {'id': 118192, 'nome': 'De 35 a menos de 45 anos', 'unidade': None},
   {'id': 118193, 'nome': 'De 45 a menos de 55 anos', 'unidade': None},
   {'id': 118194, 'nome': 'De 55 a menos de 65 anos', 'unidade': None},
   {'id': 118195, 'nome': 'De 65 anos e mais', 'unidade': None},
   {'id': 118196, 'nome': 'Idade não declarada', 'unidade': None}],
  'id': 12771,
  'nome': 'Classe de idade do produtor',
  'sumarizacao': {'excecao': [], 'status': True}},
 {'categorias': [{'id': 0, 'nome': 'Total', 'unidade': None},
   {'id': 118197, 'nome': 'Alfabetização de adultos', 'unidade': None},
   {'id': 118198,
    'nome': 'Ensino fundamental incompleto (1º grau)',
    'unidade': None},
   {'id': 118199,
    'nome': 'Ensino fundamental completo (1º grau)',
    'unidade': None},
   {'id': 118200,
    'nome': 'Ensino médio ou 2º grau completo (técnico agrícola)',
    'unidade': None},
   {'id': 118201,
    'nome': 'Ensino médio ou 2º grau completo (outro)',
    'unidade': None},
   {'id': 118202, 'nome': 'Engenheiro agrônomo', 'unidade': None},
   {'id': 118203, 'nome': 'Veterinário', 'unidade': None},
   {'id': 118204, 'nome': 'Zootecnista', 'unidade': None},
   {'id': 118205, 'nome': 'Engenheiro florestal', 'unidade': None},
   {'id': 118206, 'nome': 'Outra formação superior', 'unidade': None},
   {'id': 118207, 'nome': 'Nenhum (sabe ler ou escrever)', 'unidade': None},
   {'id': 118208, 'nome': 'Não sabe ler e escrever', 'unidade': None}],
  'id': 12772,
  'nome': 'Nível de instrução do produtor',
  'sumarizacao': {'excecao': [], 'status': True}},
 {'categorias': [{'id': 0, 'nome': 'Total', 'unidade': None},
   {'id': 111543, 'nome': 'Mais de 0 a menos de 0,1 ha', 'unidade': None},
   {'id': 111544, 'nome': 'De 0,1 a menos de 0,2 ha', 'unidade': None},
   {'id': 111545, 'nome': 'De 0,2 a menos de 0,5 ha', 'unidade': None},
   {'id': 111546, 'nome': 'De 0,5 a menos de 1 ha', 'unidade': None},
   {'id': 111547, 'nome': 'De 1 a menos de 2 ha', 'unidade': None},
   {'id': 111548, 'nome': 'De 2 a menos de 3 ha', 'unidade': None},
   {'id': 111549, 'nome': 'De 3 a menos de 4 ha', 'unidade': None},
   {'id': 111550, 'nome': 'De 4 a menos de 5 ha', 'unidade': None},
   {'id': 111551, 'nome': 'De 5 a menos de 10 ha', 'unidade': None},
   {'id': 111552, 'nome': 'De 10 a menos de 20 ha', 'unidade': None},
   {'id': 111553, 'nome': 'De 20 a menos de 50 ha', 'unidade': None},
   {'id': 111554, 'nome': 'De 50 a menos de 100 ha', 'unidade': None},
   {'id': 111555, 'nome': 'De 100 a menos de 200 ha', 'unidade': None},
   {'id': 111556, 'nome': 'De 200 a menos de 500 ha', 'unidade': None},
   {'id': 111557, 'nome': 'De 500 a menos de 1.000 ha', 'unidade': None},
   {'id': 111558, 'nome': 'De 1.000 a menos de 2.500 ha', 'unidade': None},
   {'id': 111559, 'nome': 'De 2.500 ha e mais', 'unidade': None},
   {'id': 111560, 'nome': 'Produtor sem área', 'unidade': None}],
  'id': 220,
  'nome': 'Grupos de área total',
  'sumarizacao': {'excecao': [], 'status': True}}]

In [62]:
f.close()
rawclass=meta1021['classificacoes']

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>nome</th>
      <th>unidade</th>
      <th>grupo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>12566</td>
    </tr>
    <tr>
      <th>1</th>
      <td>112643</td>
      <td>Homens</td>
      <td>None</td>
      <td>12566</td>
    </tr>
    <tr>
      <th>2</th>
      <td>112644</td>
      <td>Mulheres</td>
      <td>None</td>
      <td>12566</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>1</th>
      <td>118221</td>
      <td>Menos de 1 ano</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>2</th>
      <td>118222</td>
      <td>De 1 a menos de 5 anos</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>3</th>
      <td>118223</td>
      <td>De 5 a menos de 10 anos</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>4</th>
      <td>118224</td>
      <td>De 10 anos e mais</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4780</td>
      <td>Proprietário</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>2</th>
      <td>111517</td>
      <td>Assentado sem titulação definitiva</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4781</td>
      <td>Arrendatário</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4782</td>
      <td>Parceiro</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4783</td>
      <td>Ocupante</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>6</th>
      <td>111518</td>
      <td>Produtor sem área</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>1</th>
      <td>118190</td>
      <td>Menor de 25 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>2</th>
      <td>118191</td>
      <td>De 25 a menos de 35 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>3</th>
      <td>118192</td>
      <td>De 35 a menos de 45 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>4</th>
      <td>118193</td>
      <td>De 45 a menos de 55 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>5</th>
      <td>118194</td>
      <td>De 55 a menos de 65 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>6</th>
      <td>118195</td>
      <td>De 65 anos e mais</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>7</th>
      <td>118196</td>
      <td>Idade não declarada</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>1</th>
      <td>118197</td>
      <td>Alfabetização de adultos</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>2</th>
      <td>118198</td>
      <td>Ensino fundamental incompleto (1º grau)</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>3</th>
      <td>118199</td>
      <td>Ensino fundamental completo (1º grau)</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>4</th>
      <td>118200</td>
      <td>Ensino médio ou 2º grau completo (técnico agrí...</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>5</th>
      <td>118201</td>
      <td>Ensino médio ou 2º grau completo (outro)</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>6</th>
      <td>118202</td>
      <td>Engenheiro agrônomo</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>7</th>
      <td>118203</td>
      <td>Veterinário</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>8</th>
      <td>118204</td>
      <td>Zootecnista</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>9</th>
      <td>118205</td>
      <td>Engenheiro florestal</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>10</th>
      <td>118206</td>
      <td>Outra formação superior</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>11</th>
      <td>118207</td>
      <td>Nenhum (sabe ler ou escrever)</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>12</th>
      <td>118208</td>
      <td>Não sabe ler e escrever</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>1</th>
      <td>111543</td>
      <td>Mais de 0 a menos de 0,1 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>2</th>
      <td>111544</td>
      <td>De 0,1 a menos de 0,2 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>3</th>
      <td>111545</td>
      <td>De 0,2 a menos de 0,5 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>4</th>
      <td>111546</td>
      <td>De 0,5 a menos de 1 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>5</th>
      <td>111547</td>
      <td>De 1 a menos de 2 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>6</th>
      <td>111548</td>
      <td>De 2 a menos de 3 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>7</th>
      <td>111549</td>
      <td>De 3 a menos de 4 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>8</th>
      <td>111550</td>
      <td>De 4 a menos de 5 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>9</th>
      <td>111551</td>
      <td>De 5 a menos de 10 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>10</th>
      <td>111552</td>
      <td>De 10 a menos de 20 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>11</th>
      <td>111553</td>
      <td>De 20 a menos de 50 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>12</th>
      <td>111554</td>
      <td>De 50 a menos de 100 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>13</th>
      <td>111555</td>
      <td>De 100 a menos de 200 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>14</th>
      <td>111556</td>
      <td>De 200 a menos de 500 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>15</th>
      <td>111557</td>
      <td>De 500 a menos de 1.000 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>16</th>
      <td>111558</td>
      <td>De 1.000 a menos de 2.500 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>17</th>
      <td>111559</td>
      <td>De 2.500 ha e mais</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>18</th>
      <td>111560</td>
      <td>Produtor sem área</td>
      <td>None</td>
      <td>220</td>
    </tr>
  </tbody>
</table>
</div>

In [75]:
def bt(c):
    tb=pd.io.json.json_normalize(c['categorias'])    
    tb['grupo']=c['id']
    return tb
classes=pd.concat([bt(c) for c in rawclass])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>nome</th>
      <th>unidade</th>
      <th>grupo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>12566</td>
    </tr>
    <tr>
      <th>1</th>
      <td>112643</td>
      <td>Homens</td>
      <td>None</td>
      <td>12566</td>
    </tr>
    <tr>
      <th>2</th>
      <td>112644</td>
      <td>Mulheres</td>
      <td>None</td>
      <td>12566</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>1</th>
      <td>118221</td>
      <td>Menos de 1 ano</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>2</th>
      <td>118222</td>
      <td>De 1 a menos de 5 anos</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>3</th>
      <td>118223</td>
      <td>De 5 a menos de 10 anos</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>4</th>
      <td>118224</td>
      <td>De 10 anos e mais</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4780</td>
      <td>Proprietário</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>2</th>
      <td>111517</td>
      <td>Assentado sem titulação definitiva</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4781</td>
      <td>Arrendatário</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4782</td>
      <td>Parceiro</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4783</td>
      <td>Ocupante</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>6</th>
      <td>111518</td>
      <td>Produtor sem área</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>1</th>
      <td>118190</td>
      <td>Menor de 25 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>2</th>
      <td>118191</td>
      <td>De 25 a menos de 35 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>3</th>
      <td>118192</td>
      <td>De 35 a menos de 45 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>4</th>
      <td>118193</td>
      <td>De 45 a menos de 55 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>5</th>
      <td>118194</td>
      <td>De 55 a menos de 65 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>6</th>
      <td>118195</td>
      <td>De 65 anos e mais</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>7</th>
      <td>118196</td>
      <td>Idade não declarada</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>1</th>
      <td>118197</td>
      <td>Alfabetização de adultos</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>2</th>
      <td>118198</td>
      <td>Ensino fundamental incompleto (1º grau)</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>3</th>
      <td>118199</td>
      <td>Ensino fundamental completo (1º grau)</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>4</th>
      <td>118200</td>
      <td>Ensino médio ou 2º grau completo (técnico agrí...</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>5</th>
      <td>118201</td>
      <td>Ensino médio ou 2º grau completo (outro)</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>6</th>
      <td>118202</td>
      <td>Engenheiro agrônomo</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>7</th>
      <td>118203</td>
      <td>Veterinário</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>8</th>
      <td>118204</td>
      <td>Zootecnista</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>9</th>
      <td>118205</td>
      <td>Engenheiro florestal</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>10</th>
      <td>118206</td>
      <td>Outra formação superior</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>11</th>
      <td>118207</td>
      <td>Nenhum (sabe ler ou escrever)</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>12</th>
      <td>118208</td>
      <td>Não sabe ler e escrever</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>1</th>
      <td>111543</td>
      <td>Mais de 0 a menos de 0,1 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>2</th>
      <td>111544</td>
      <td>De 0,1 a menos de 0,2 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>3</th>
      <td>111545</td>
      <td>De 0,2 a menos de 0,5 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>4</th>
      <td>111546</td>
      <td>De 0,5 a menos de 1 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>5</th>
      <td>111547</td>
      <td>De 1 a menos de 2 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>6</th>
      <td>111548</td>
      <td>De 2 a menos de 3 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>7</th>
      <td>111549</td>
      <td>De 3 a menos de 4 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>8</th>
      <td>111550</td>
      <td>De 4 a menos de 5 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>9</th>
      <td>111551</td>
      <td>De 5 a menos de 10 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>10</th>
      <td>111552</td>
      <td>De 10 a menos de 20 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>11</th>
      <td>111553</td>
      <td>De 20 a menos de 50 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>12</th>
      <td>111554</td>
      <td>De 50 a menos de 100 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>13</th>
      <td>111555</td>
      <td>De 100 a menos de 200 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>14</th>
      <td>111556</td>
      <td>De 200 a menos de 500 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>15</th>
      <td>111557</td>
      <td>De 500 a menos de 1.000 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>16</th>
      <td>111558</td>
      <td>De 1.000 a menos de 2.500 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>17</th>
      <td>111559</td>
      <td>De 2.500 ha e mais</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>18</th>
      <td>111560</td>
      <td>Produtor sem área</td>
      <td>None</td>
      <td>220</td>
    </tr>
  </tbody>
</table>
</div>

In [76]:

classes

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>nome</th>
      <th>unidade</th>
      <th>grupo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>12566</td>
    </tr>
    <tr>
      <th>1</th>
      <td>112643</td>
      <td>Homens</td>
      <td>None</td>
      <td>12566</td>
    </tr>
    <tr>
      <th>2</th>
      <td>112644</td>
      <td>Mulheres</td>
      <td>None</td>
      <td>12566</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>1</th>
      <td>118221</td>
      <td>Menos de 1 ano</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>2</th>
      <td>118222</td>
      <td>De 1 a menos de 5 anos</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>3</th>
      <td>118223</td>
      <td>De 5 a menos de 10 anos</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>4</th>
      <td>118224</td>
      <td>De 10 anos e mais</td>
      <td>None</td>
      <td>12775</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4780</td>
      <td>Proprietário</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>2</th>
      <td>111517</td>
      <td>Assentado sem titulação definitiva</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4781</td>
      <td>Arrendatário</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4782</td>
      <td>Parceiro</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4783</td>
      <td>Ocupante</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>6</th>
      <td>111518</td>
      <td>Produtor sem área</td>
      <td>None</td>
      <td>218</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>1</th>
      <td>118190</td>
      <td>Menor de 25 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>2</th>
      <td>118191</td>
      <td>De 25 a menos de 35 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>3</th>
      <td>118192</td>
      <td>De 35 a menos de 45 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>4</th>
      <td>118193</td>
      <td>De 45 a menos de 55 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>5</th>
      <td>118194</td>
      <td>De 55 a menos de 65 anos</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>6</th>
      <td>118195</td>
      <td>De 65 anos e mais</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>7</th>
      <td>118196</td>
      <td>Idade não declarada</td>
      <td>None</td>
      <td>12771</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>1</th>
      <td>118197</td>
      <td>Alfabetização de adultos</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>2</th>
      <td>118198</td>
      <td>Ensino fundamental incompleto (1º grau)</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>3</th>
      <td>118199</td>
      <td>Ensino fundamental completo (1º grau)</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>4</th>
      <td>118200</td>
      <td>Ensino médio ou 2º grau completo (técnico agrí...</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>5</th>
      <td>118201</td>
      <td>Ensino médio ou 2º grau completo (outro)</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>6</th>
      <td>118202</td>
      <td>Engenheiro agrônomo</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>7</th>
      <td>118203</td>
      <td>Veterinário</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>8</th>
      <td>118204</td>
      <td>Zootecnista</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>9</th>
      <td>118205</td>
      <td>Engenheiro florestal</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>10</th>
      <td>118206</td>
      <td>Outra formação superior</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>11</th>
      <td>118207</td>
      <td>Nenhum (sabe ler ou escrever)</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>12</th>
      <td>118208</td>
      <td>Não sabe ler e escrever</td>
      <td>None</td>
      <td>12772</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>1</th>
      <td>111543</td>
      <td>Mais de 0 a menos de 0,1 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>2</th>
      <td>111544</td>
      <td>De 0,1 a menos de 0,2 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>3</th>
      <td>111545</td>
      <td>De 0,2 a menos de 0,5 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>4</th>
      <td>111546</td>
      <td>De 0,5 a menos de 1 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>5</th>
      <td>111547</td>
      <td>De 1 a menos de 2 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>6</th>
      <td>111548</td>
      <td>De 2 a menos de 3 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>7</th>
      <td>111549</td>
      <td>De 3 a menos de 4 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>8</th>
      <td>111550</td>
      <td>De 4 a menos de 5 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>9</th>
      <td>111551</td>
      <td>De 5 a menos de 10 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>10</th>
      <td>111552</td>
      <td>De 10 a menos de 20 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>11</th>
      <td>111553</td>
      <td>De 20 a menos de 50 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>12</th>
      <td>111554</td>
      <td>De 50 a menos de 100 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>13</th>
      <td>111555</td>
      <td>De 100 a menos de 200 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>14</th>
      <td>111556</td>
      <td>De 200 a menos de 500 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>15</th>
      <td>111557</td>
      <td>De 500 a menos de 1.000 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>16</th>
      <td>111558</td>
      <td>De 1.000 a menos de 2.500 ha</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>17</th>
      <td>111559</td>
      <td>De 2.500 ha e mais</td>
      <td>None</td>
      <td>220</td>
    </tr>
    <tr>
      <th>18</th>
      <td>111560</td>
      <td>Produtor sem área</td>
      <td>None</td>
      <td>220</td>
    </tr>
  </tbody>
</table>
</div>

In [74]:

ids=list(classes.id.unique())
ids.remove(0)
pd.array(ids)

SyntaxError: invalid syntax (<ipython-input-148-85af9f14e580>, line 2)

In [85]:
import requests as r


sample_url="https://servicodados.ibge.gov.br/api/v2/agregados/1021/variaveis?"
params={"localidades": 3501, 
        "classificacao" : "12772|220"}
    
encoded_url=r.Request("GET", sample_url, params=params).prepare().url

SyntaxError: invalid syntax (<ipython-input-148-85af9f14e580>, line 2)

In [103]:

encoded_url

SyntaxError: invalid syntax (<ipython-input-148-85af9f14e580>, line 2)

In [105]:

headers={
"Host": "servicodados.ibge.gov.br",
"Connection": "keep-alive",
"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.121 Safari/537.36",
"Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8",
"Accept-Encoding": "gzip, deflate, br",
"Accept-Language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7,fr;q=0.6"
}
response=r.get(url=encoded_url,headers=headers)

SyntaxError: invalid syntax (<ipython-input-148-85af9f14e580>, line 2)

In [115]:
rj=response.json()

SyntaxError: invalid syntax (<ipython-input-148-85af9f14e580>, line 2)

In [119]:
result=pd.concat([pd.io.json.json_normalize(r) for r in rj])

SyntaxError: invalid syntax (<ipython-input-148-85af9f14e580>, line 2)

In [126]:
result=result[[c for c in result.columns if not 'cod' in c]]

SyntaxError: invalid syntax (<ipython-input-148-85af9f14e580>, line 2)

In [150]:
result.columns

Index(['classe_de_idade', 'condicao_do_produtor', 'grupos_de_anos',
       'grupos_de_area', 'nivel_de_instrucao', 'p', 'sexo_da_pessoa', 'ug',
       'um', 'v', 'var'],
      dtype='object')

In [160]:

[x.split('_')[0:3] for x in result.columns]

[['classe', 'de', 'idade'],
 ['condicao', 'do', 'produtor'],
 ['grupos', 'de', 'anos'],
 ['grupos', 'de', 'area'],
 ['nivel', 'de', 'instrucao'],
 ['p'],
 ['sexo', 'da', 'pessoa'],
 ['ug'],
 ['um'],
 ['v'],
 ['var']]

In [ ]:

result.iloc[:20,[1,2,3,4,9]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>grupos_de_anos</th>
      <th>grupos_de_area</th>
      <th>nivel_de_instrucao</th>
      <th>v</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>Total</td>
      <td>Total</td>
      <td>37845</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>Mais de 0 a menos de 0,1 ha</td>
      <td>Total</td>
      <td>192</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 0,1 a menos de 0,2 ha</td>
      <td>Total</td>
      <td>190</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 0,2 a menos de 0,5 ha</td>
      <td>Total</td>
      <td>230</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 0,5 a menos de 1 ha</td>
      <td>Total</td>
      <td>384</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 1 a menos de 2 ha</td>
      <td>Total</td>
      <td>737</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 2 a menos de 3 ha</td>
      <td>Total</td>
      <td>1253</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 3 a menos de 4 ha</td>
      <td>Total</td>
      <td>1523</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 4 a menos de 5 ha</td>
      <td>Total</td>
      <td>2061</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 5 a menos de 10 ha</td>
      <td>Total</td>
      <td>5469</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 10 a menos de 20 ha</td>
      <td>Total</td>
      <td>7948</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 20 a menos de 50 ha</td>
      <td>Total</td>
      <td>9268</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 50 a menos de 100 ha</td>
      <td>Total</td>
      <td>4069</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 100 a menos de 200 ha</td>
      <td>Total</td>
      <td>2326</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 200 a menos de 500 ha</td>
      <td>Total</td>
      <td>1427</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 500 a menos de 1.000 ha</td>
      <td>Total</td>
      <td>390</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 1.000 a menos de 2.500 ha</td>
      <td>Total</td>
      <td>164</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>De 2.500 ha e mais</td>
      <td>Total</td>
      <td>48</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>Produtor sem área</td>
      <td>Total</td>
      <td>166</td>
    </tr>
    <tr>
      <th>0</th>
      <td>Total</td>
      <td>Total</td>
      <td>Alfabetização de adultos</td>
      <td>1254</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:

f=open('1712.metadados', 'rb')

SyntaxError: invalid syntax (<ipython-input-148-85af9f14e580>, line 2)

In [22]:
meta1712=json.load(f)

In [23]:
meta1712.keys()

dict_keys(['id', 'nome', 'pesquisa', 'assunto', 'periodicidade', 'nivelTerritorial', 'variaveis', 'classificacoes'])

In [26]:
meta1712['variaveis']

[{'id': 183,
  'nome': 'Número de estabelecimentos agropecuários',
  'sumarizacao': ['nivelTerritorial'],
  'unidade': 'Unidades'},
 {'id': 214,
  'nome': 'Quantidade produzida',
  'sumarizacao': ['nivelTerritorial'],
  'unidade': "Vide categorias da classificação 'Produtos da lavoura temporária'"},
 {'id': 1982,
  'nome': 'Quantidade vendida',
  'sumarizacao': ['nivelTerritorial'],
  'unidade': "Vide categorias da classificação 'Produtos da lavoura temporária'"},
 {'id': 215,
  'nome': 'Valor da produção',
  'sumarizacao': ['nivelTerritorial'],
  'unidade': 'Mil Reais'},
 {'id': 1000215,
  'nome': 'Valor da produção - percentual do total geral',
  'sumarizacao': [],
  'unidade': '%'},
 {'id': 216,
  'nome': 'Área colhida',
  'sumarizacao': ['nivelTerritorial'],
  'unidade': 'Hectares'},
 {'id': 1000216,
  'nome': 'Área colhida - percentual do total geral',
  'sumarizacao': [],
  'unidade': '%'}]

In [36]:
import pandas as pd
produtos=pd.io.json.json_normalize(meta1712['classificacoes'][0]['categorias'])

In [42]:
[v for v in produtos.nome.values if ('Soja' in v or 'Milho' in v or 'Cana' in v)]

['Cana-de-açúcar',
 'Milho em grão',
 'Soja em grão',
 'Cana forrageira',
 'Milho forrageiro']

In [44]:
selection=[('Soja' in v or 'Milho' in v or 'Cana' in v) for v in produtos.nome.values ]

In [45]:
produtos[selection]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>nome</th>
      <th>unidade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>4857</td>
      <td>Cana-de-açúcar</td>
      <td>Toneladas</td>
    </tr>
    <tr>
      <th>30</th>
      <td>4888</td>
      <td>Milho em grão</td>
      <td>Toneladas</td>
    </tr>
    <tr>
      <th>32</th>
      <td>4896</td>
      <td>Soja em grão</td>
      <td>Toneladas</td>
    </tr>
    <tr>
      <th>40</th>
      <td>4906</td>
      <td>Cana forrageira</td>
      <td>Toneladas</td>
    </tr>
    <tr>
      <th>41</th>
      <td>4907</td>
      <td>Milho forrageiro</td>
      <td>Toneladas</td>
    </tr>
  </tbody>
</table>
</div>

In [48]:
tipo_proprietario=pd.io.json.json_normalize(meta1712['classificacoes'][1]['categorias'])

In [49]:
tipo_proprietario

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>nome</th>
      <th>unidade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4780</td>
      <td>Proprietário</td>
      <td>None</td>
    </tr>
    <tr>
      <th>2</th>
      <td>111517</td>
      <td>Assentado sem titulação definitiva</td>
      <td>None</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4781</td>
      <td>Arrendatário</td>
      <td>None</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4782</td>
      <td>Parceiro</td>
      <td>None</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4783</td>
      <td>Ocupante</td>
      <td>None</td>
    </tr>
    <tr>
      <th>6</th>
      <td>111518</td>
      <td>Produtor sem área</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
</div>

In [55]:
area=pd.io.json.json_normalize(meta1712['classificacoes'][3]['categorias'])

In [56]:
area

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>nome</th>
      <th>unidade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Total</td>
      <td>None</td>
    </tr>
    <tr>
      <th>1</th>
      <td>111543</td>
      <td>Mais de 0 a menos de 0,1 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>2</th>
      <td>111544</td>
      <td>De 0,1 a menos de 0,2 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>3</th>
      <td>111545</td>
      <td>De 0,2 a menos de 0,5 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>4</th>
      <td>111546</td>
      <td>De 0,5 a menos de 1 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>5</th>
      <td>111547</td>
      <td>De 1 a menos de 2 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>6</th>
      <td>111548</td>
      <td>De 2 a menos de 3 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>7</th>
      <td>111549</td>
      <td>De 3 a menos de 4 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>8</th>
      <td>111550</td>
      <td>De 4 a menos de 5 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>9</th>
      <td>111551</td>
      <td>De 5 a menos de 10 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>10</th>
      <td>111552</td>
      <td>De 10 a menos de 20 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>11</th>
      <td>111553</td>
      <td>De 20 a menos de 50 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>12</th>
      <td>111554</td>
      <td>De 50 a menos de 100 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>13</th>
      <td>111555</td>
      <td>De 100 a menos de 200 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>14</th>
      <td>111556</td>
      <td>De 200 a menos de 500 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>15</th>
      <td>111557</td>
      <td>De 500 a menos de 1.000 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>16</th>
      <td>111558</td>
      <td>De 1.000 a menos de 2.500 ha</td>
      <td>None</td>
    </tr>
    <tr>
      <th>17</th>
      <td>111559</td>
      <td>De 2.500 ha e mais</td>
      <td>None</td>
    </tr>
    <tr>
      <th>18</th>
      <td>111560</td>
      <td>Produtor sem área</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
</div>